.img3{
  height: 600px;
  width: 100%;
}
.mobile-nav
{
  @apply fixed top-24 bg-black left-0 w-full h-1/4 ; 
}
.mobile-nav li{
   @apply w-full h-full text-center pt-4 text-2xl;
}

nav {
   position: sticky; 
   top: 0;
   z-index: 1000;
   background-color: black;
 }


@media(max-width: 600px) {
   body{
    width:920px;
   }
   nav{
      padding: 20px;
   }
   .h1{
     font-size:30px;
     margin-top: 15px;
   }
   .card{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-right: 50px;
   }
   .pic{
      width: 420px;
      height: 250px;
   }
   .btn{
    width: 335px;
    height: 50px;
   }
   .product{
    margin-left: -20px;
    padding-top:50px;
   }

   .card1{
      height: 350px;
      font-size:25px;
   }
   .card1 img{
      height: 280px;
      width: 380px;
   }
   .card1 .data{
       margin-top: 10px;
    }
    .card1 p{
      margin-top: 10px;
    }
    .card1 button{
      margin-top: 30px;
    }
    .card1 span{
      margin-top: 30px;
    }
    .icon{
      height: 10px;
    }
    .about{
      padding-top: 120px;
      padding-bottom: 220px;
    }
    .about p{
      font-size: 25px;
      padding: 20px;
    }
    .about ul li{
      font-size: 23px;
      padding: 20px;
    }
    .contact{
      padding-top: 270px;
      padding-bottom: 500px;
    }
    .contact h1{
      font-size: 50px;
      padding-bottom: 20px;
    }
    .contact input{
      padding: 20px;
      width: 500px;
    }
    .contact textarea{
      width: 500px;
    }
    .contact button{
      width: 500px;
      height: 50px;
    }
    .contact p{
      font-size: 25px;
    }
    .contact form{
      margin-left: -50px;
      padding-top: 40px;
    }
}
